<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess The Bot - Overlay</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-show="info.roundEnd" class="fullscreen" style="background-color: black; z-index: -1;">
            <div class="fullscreen round-end-background">
            </div>
            <div class="fullscreen" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <div>
                    <h1 class="text-shadow">Round has ended. Mystery bots were:</h1>
                </div>
    
                <table>
                    <tr>
                        <td v-for="team in ['blue', 'orange']">
                            <div class="card" v-for="bot in info.mysteryBots" v-if="bot.team == team">
                                <div class="actual-name" :class="bot.team">{{ bot.actualName }}</div>
                
                                <div><b>Mystery Bot {{ bot.identifier }}</b></div>
                
                                <div v-if="bot.guessed" class="success">Guessed by <i>{{ bot.guessedBy }}</i></div>
                                <div v-else><i class="unknown">Not guessed</i></div>
                            </div>
                        </td>
                    </tr>
                </table>
    
                <div>
                    <h1 class="text-shadow">Starting new round in a few seconds</h1>
                </div>
            </div>
        </div>
        <div class="card" style="float: right;">
            <table>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th v-for="bot in info.mysteryBots" :class="bot.team">{{ bot.identifier }}</th>
                </tr>
                <tr v-for="bot in info.votableBots">
                    <td>{{ bot.command }}</td>
                    <td><b>{{ bot.name }}</b></td>
                    <td v-for="vote in bot.voteStatus">
                        <span v-if="vote === true">✔️</span>
                        <span v-if="vote === false">❌</span>
                    </td>
                </tr>
            </table>
            <p>Guess with this command:</p>
            <div style="font-size: 20px;"><code>!guess <i>A/B</i> <i>NUMBER</i></code></div>
            <p>Example:</p>
            <div style="font-size: 30px;"><code>!guess B 4</code></div>
        </div>
        <div class="card" style="float: left;">
            <b style="font-size: 35px;">Top guessers</b>
            <table style="width: 100%;">
                <tr v-for="row in info.scoreboard">
                    <td><b>{{ row.name }}</b></td>
                    <td>{{ row.score }}</td>
                </tr>
            </table>
        </div>
        <div class="fullscreen bottom-center-wrapper" v-show="!info.roundEnd">
            <table>
                <tr>
                    <td v-for="bot in info.mysteryBots">
                        <div class="card">
                            <div :class="bot.team"><b>Mystery Bot {{ bot.identifier }}</b></div>

                            <div v-if="bot.guessed" class="actual-name">{{ bot.actualName }}</div>
                            <div v-else class="actual-name unknown">Unknown</div>

                            <div v-if="bot.guessed" class="success">Guessed by <i>{{ bot.guessedBy }}</i></div>
                            <div v-else><i class="unknown">Not yet guessed</i></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src="main.js"></script>
</html>